< {{!-- Name --}} <div class="row">
    <div class="input-field col s6">
        <input placeholder="First Name" id="firstName" type="text" value="{{firstName}}">
        <label for="firstName">First Name</label>
    </div>
    <div class="input-field col s6">
        <input placeholder="Last Name" id="lastName" type="text" value="{{lastName}}">
        <label for="lastName">Last Name</label>
    </div>
    </div>
    {{!-- Email --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" value="{{email}}">
            <label for="email">Email</label>
        </div>
    </div>
    {{!-- School --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="school" type="text" value="{{school}}">
            <label for="school">School Name</label>
        </div>
    </div>
    {{!-- Main Language --}}
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Main Programming Language" id="mainLanguage" type="text" value="{{mainLanguage}}">
            <label for="mainLanguage">Pick One Main Programming Language (Please Type Only One)</label>
        </div>
    </div>
    {{!-- Secondary Language --}}
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Secondary Programming Language" id="subLanguage" type="text" value="{{subLanguage}}">
            <label for="subLanguage">Pick Secondary Programming Languages (1-3 Languages)</label>
        </div>
    </div>
    {{!-- LinkedIn --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="linkedIn" type="text" value="{{linkedIn}}">
            <label for="linkedIn">LinkedIn Profile Link*</label>
        </div>
    </div>
    {{!-- GitHub --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="gitHub" type="text" value="{{gitHub}}">
            <label for="gitHub">GitHub Profile Link*</label>
        </div>
    </div>
    {{!-- Resume --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="resume" type="text" value="{{resume}}">
            <label for="resume">Your Resume Link</label>
        </div>
    </div>
    {{!-- Description --}}
    <div class="row">
        <div class="input-field col s12">
            <input id="description" type="text" value="{{description}}">
            <label for="description">Short Description About Yourself (Less than 50 words)</label>
        </div>
    </div>