{{!-- {{#each trains}}
    <h1>{{name}}</h1>
    <p>{{number}}</p>
    <p>{{status}}</p>
    <p>{{currentStation}}</p>
    <p>{{eta}}</p>
{{/each}} --}}
{{#each students}}
    <h1>{{name}}</h1>
    <p>{{email}}</p>
    <p>{{school}}</p>
    <p>{{text}}</p>
{{/each}}