{{> navbar}}
<div class="container">
    <div class="row">
        <h2 class="center-align">All Students</h2>
    </div>
    {{#each students}}
        <div class="row">
            
                <div class="card-panel hoverable" id="search-section">
                    <div class="card-image yellow lighten-3">
                        <span class="card-title"><h1 class="studentName">{{firstName}} {{lastName}}</h1></span>
                    </div>
                    
                    <p class="mainLanguage">Main Language: {{mainLanguage}}</p>
                    <p class="subLanguage">Sub-Language: {{subLanguage}}</p>
                    <p class="school">School: {{school}}</p>
                    <p class="email">Email:{{email}}</p>
                    <p class="gitHub">GitHub: {{gitHub}}</p>
                    <p class="resume">Resume: {{resume}}</p>
                    <p class="description">Description: {{description}}</p>
                    <div class="row">
                        <div class="col m12 right-align">
                            <a class="saveButton btn halfway-fab waves-effect waves-light red" data-id="{{id}}" data-newsave="{{savedState}}"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                    
                </div>
            
        </div>
    {{/each}}    
</div>

<script type="text/javascript" src="/js/list.js"></script>