{{> navbar}}

<h2 class="center-align" id="post-header">Saved Posts</h2>

{{#each students }}
<div class="container" id="main-container">
    <div class="row">
        <div class="card-panel hoverable">
            <div class="card-image">
                <span class="card-title">
                    <h1 class="studentName">{{firstName}} {{lastName}}</h1>
                </span>
            </div>

             <p class="mainLanguage">Main Language:  <span class="list-items">{{mainLanguage}}</span></p>
            <p class="subLanguage">Sub-Language:  <span class="list-items">{{subLanguage}}</span></p>
            <p class="school">School:  <span class="list-items">{{school}}</span></p>
            <p class="email">Email:  <span class="list-items">{{email}}</span></p>
            <p class="gitHub">GitHub:  <span class="list-items">{{gitHub}}</span></p>
            <p class="linkedIn">LinkedIn:  <span class="list-items">{{linkedIn}}</span></p>
            <p class="resume">Resume:  <span class="list-items">{{resume}}</span></p>
            <p class="description">Description:  <span class="list-items">{{description}}</span></p>
            <div class="row">
                <div class="col m12 right-align">
                    <button id="edit-btn" data-id="{{id}}" data-newedit="{{editState}}" class="hoverable">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col m12 right-align">
                    <button id="delete-btn" data-id="{{id}}" data-delete="{{deleteState}}"
                        class="hoverable">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="footer-copyright">
    <div class="container center-align">
        © 2021 Created By: Brian Hestir, Caleb Glorvigen, Sahil Patel, Sungpil An.
    </div>
</div>
<script type="text/javascript" src="/js/edit.js"></script>