{{> navbar}}

<h2 class="center-align" id="post-header">Saved Posts</h2>

{{#each students }}
<div class="container" id="main-container">
    <div class="row">
        <div class="card-panel hoverable">
            <div class="card-image">
                <span class="card-title">
                    <h1 class="studentName">{{firstName}} {{lastName}}</h1>
                </span>
            </div>

            <p class="mainLanguage">Main Language:  {{mainLanguage}}</p>
            <p class="subLanguage">Sub-Language:  {{subLanguage}}</p>
            <p class="school">School:  {{school}}</p>
            <p class="email">Email:  {{email}}</p>
            <p class="gitHub">GitHub:  {{gitHub}}</p>
            <p class="linkedIn">LinkedIn:  {{linkedIn}}</p>
            <p class="resume">Resume:  {{resume}}</p>
            <p class="description">Description:  {{description}}</p>
            <div class="row">
                <div class="col m12 right-align">
                    <button id="edit-btn" data-id="{{id}}" data-newedit="{{editState}}" class="hoverable">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col m12 right-align">
                    <button id="delete-btn" data-id="{{id}}" data-delete="{{deleteState}}"
                        class="hoverable">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="footer-copyright">
    <div class="container center-align">
        © 2021 Created By: Brian Hestir, Caleb Glorvigen, Sahil Patel, Sungpil An.
    </div>
</div>
<script type="text/javascript" src="/js/edit.js"></script>